@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

nav ul {
  color: white;
  display: flex;

  align-items: center;
  width: 100vw;
  min-height: 8vh;
  font-family: "Open Sans", sans-serif;
  background-color: #282828;
  position: fixed;
  top: 0%;
  z-index: 100;
}
nav ul a {
  text-decoration: none;
  color: aquamarine;
}
nav ul li {
  list-style: none;
  padding: 30px 30px 30px;
}
.icon-bar {
  padding: 0 0 0 1000px;
  font-size: 30px;
}
.icon-bar a {
  padding: 0 25px 0 25px;
  justify-content: space-around;
}
body {
  background-image: url("https://images.pexels.com/photos/1040499/pexels-photo-1040499.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
.intro {
  padding: 50px 25px 25px 50px;
}
.myname {
  font-size: 75px;
  height: auto;
  color: silver;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
}

.profession {
  font-size: 20px;
  color: silver;
  font-weight: bolder;
  text-align: center;
  font-family: sans-serif;
}

.profession > .txt {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  border-right: 0.2rem solid #777;
  padding: 0px;
}
.hi {
  font-size: 10px;
  color: silver;
  font-weight: bolder;
  text-align: center;
  font-family: sans-serif;
}
